* {
    font-family:Geneva, Tahoma, sans-serif;
    font-weight: 20px;
  }

button{
    margin-top:20px;
}

.head {
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;
  }

.dashboard {
    text-align: center;
    border: 2px solid blue;
    background-color:rgb(11, 11, 139)
  }

.weather{
    color:white;
    background-color:rgb(11, 11, 139)
    }
    
     
#search {
    margin-bottom: 15px;
  }

  #dayDate1,
  #dayDate2,
  #dayDate3,
  #dayDate4,
  #dayDate5{
font-size:20px;

  }
.col-sm{
    margin-top:50px;
    padding-top:10px;
    
}
#colsm{
      background-color:rgb(48, 103, 204);
      margin-right: 10px;
  }
#colsm1{
    margin-right: 200px;
    border: 1px solid black;
  }

button{
padding: 5px 5px;
color: white;
background-color: rgb(42, 32, 180);
border-radius: 10px;
border: 1px solid rgb(42, 32, 180)
  }

